# node
node_modules

# next
# .next
# public

# next-pwa
public/sw.js
public/fallback-*.js
public/workbox-*.js

# Generated
# src/@gen
src/@gen/crud
src/@gen/lulu
src/@gen/trpc

# Filepond
src/styles/filepond.css
src/styles/filepond/*.css

# Temp
@__OLD__
