{
  "$schema": "https://json.schemastore.org/eslintrc",
  "root": true,
  "ignorePatterns": ["./@gen/**/*"],
  "settings": {
    "tailwindcss": {
      "callees": ["cn"],
      "config": "./tailwind.config.js"
    },
    "next": {
      "rootDir": ["./"]
    }
  },
  "plugins": ["@typescript-eslint", "tailwindcss"],
  "extends": [
    "next",
    "next/core-web-vitals",
    "eslint:recommended",
    "plugin:@typescript-eslint/strict",
    "plugin:jsx-a11y/recommended",
    "plugin:react/recommended",
    "plugin:react-hooks/recommended",
    "plugin:tailwindcss/recommended",
    "plugin:prettier/recommended"
  ],
  "rules": {
    "react/no-unescaped-entities": "off",
    "react/react-in-jsx-scope": "off",
    "no-unused-vars": "off",
    "@typescript-eslint/consistent-type-definitions": ["warn", "type"],
    // Disable
    "jsx-a11y/anchor-has-content": "off",
    "jsx-a11y/anchor-is-valid": "off",
    "jsx-a11y/click-events-have-key-events": "off",
    "jsx-a11y/media-has-caption": "off",
    "jsx-a11y/no-autofocus": "off",
    "jsx-a11y/no-static-element-interactions": "off",
    "tailwindcss/no-custom-classname": "off",
    "@typescript-eslint/no-unnecessary-condition": "off",
    "@typescript-eslint/no-invalid-void-type": [
      "warn",
      {
        "allowInGenericTypeArguments": true
      }
    ],
    "@typescript-eslint/no-unused-vars": "off"
    // Restore
    // "@typescript-eslint/no-unused-vars": [
    //   "warn",
    //   {
    //     "argsIgnorePattern": "^_",
    //     "varsIgnorePattern": "^_",
    //     "caughtErrorsIgnorePattern": "^_"
    //   }
    // ]
  },

  "overrides": [
    {
      "files": ["*.ts", "*.tsx"],
      "parser": "@typescript-eslint/parser",
      "parserOptions": {
        "project": "./tsconfig.json"
      }
    },
    {
      "files": ["*.json", "*.jsonc"],
      "plugins": ["json"],
      "extends": ["plugin:json/recommended"]
    },
    {
      "files": ["*.yaml", "*.yml"],
      "plugins": ["yaml"],
      "extends": ["plugin:yaml/recommended"]
    },
    {
      "files": ["**/*.d.ts"],
      "rules": {
        "@typescript-eslint/consistent-type-definitions": "off"
      }
    },
    // Only uses Testing Library lint rules in test files
    {
      "files": [
        "**/__tests__/**/*.[jt]s?(x)",
        "**/?(*.)+(spec|test).[jt]s?(x)"
      ],
      "plugins": ["testing-library"],
      "extends": ["plugin:testing-library/react"]
    }
  ]
}
