# node
node_modules

# next
.next
public

# Generated
# src/@gen
src/@gen/crud
src/@gen/lulu
src/@gen/trpc

# Generated (lulu)
openapi.lulu.yml

# Filepond
src/styles/filepond.css
src/styles/filepond/*.css

# Temp
@__OLD__
