/* body {
  background: #3d369773 !important;
  background-color: #3d3697 !important;
} */

.filepond--hopper {
  border: 3px solid pink;
  background: yellow;
  /* background-color: #999; */
  height: 600px;
}

.filepond--drip {
  border: 3px solid pink;
  background: yellow;
  /* background-color: #999; */
  height: 600px;
}

.filepond--image-preview-overlay-success {
  mix-blend-mode: normal;
  color: #3d369773 !important;
}

/* .filepond--credits,
.filepond--file-poster-wrapper {
  display: none;
  visibility: none;
} */

/* .filepond--root { */
/* max-height: 10em; */
/* } */

/* use a hand cursor instead of arrow for the action buttons */
.filepond--file-action-button {
  cursor: pointer;
}

/* the text color of the drop label*/
.filepond--drop-label {
  background-color: #3d369773;
  color: #555;
}

/* underline color for "Browse" button */
.filepond--label-action {
  text-decoration-color: #aaa;

  /* background: green; */
  /* background-color: green; */
}

/* the background color of the filepond drop area */
.filepond--panel-root {
  background-color: blue;
}

/* the border radius of the drop area */
.filepond--panel-root {
  border-radius: 0.5em;
}

/* the border radius of the file item */
.filepond--item-panel {
  border-radius: 0.5em;
}

/* the background color of the file and file panel (used when dropping an image) */
.filepond--item-panel {
  background-color: #555;
}

/* the background color of the drop circle */
.filepond--drip-blob {
  /* background-color: #999; */
  background-color: blue;
}

/* the background color of the black action buttons */
.filepond--file-action-button {
  background-color: rgba(0, 0, 0, 0.5);
}

/* the icon color of the black action buttons */
.filepond--file-action-button {
  color: white;
}

/* the color of the focus ring */
.filepond--file-action-button:hover,
.filepond--file-action-button:focus {
  box-shadow: 0 0 0 0.125em rgba(255, 255, 255, 0.9);
}

/* the text color of the file status and info labels */
.filepond--file {
  color: white;
}

/* error state color */
[data-filepond-item-state*="error"] .filepond--item-panel,
[data-filepond-item-state*="invalid"] .filepond--item-panel {
  background-color: red;
}

[data-filepond-item-state="processing-complete"] .filepond--item-panel {
  background-color: green;
}

/* bordered drop area */
/* .filepond--panel-root {
  background-color: transparent;
  border: 2px solid #2c3340;
} */
