.root {
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  @apply bg-clip-text;
}

.space {
  background-image: url('/images/space.gif');
}

@media (prefers-reduced-motion: reduce) {
  .space {
    background-image: none;
    background-color: black;
  }
}
