/* body {
  padding: 0;
  margin: 0;
} */

#all {
  margin-right: auto;
  margin-left: auto;
  width: 680px;
}

#page-flip {
  position: absolute;
  background-image: url(https://cssdeck.com/uploads/media/items/6/6h4pDpK.jpg);
  padding: 40px 40px 40px 340px;
  width: 300px;
  height: 400px;
  overflow: hidden;
}

#r1 {
  position: absolute;
  -webkit-transform: translate(-1030px, -500px) rotate(-32deg);
  -webkit-transform-origin: 1315px 500px;
  z-index: 2;
  -webkit-transition-duration: 1s;
  -webkit-transition-property: -webkit-transform, -webkit-transform-origin;
}

#p1 {
  width: 1285px;
  height: 1388px;
  overflow: hidden;
}

#p1 > div {
  -webkit-transform: translate(1030px, 500px) rotate(32deg);
  -webkit-transform-origin: 285px 0;
  -webkit-transition-duration: 1s;
  -webkit-transition-property: -webkit-transform, -webkit-transform-origin;
  background-image: url(https://cssdeck.com/uploads/media/items/8/87WOlJH.jpg);
  width: 285px;
  height: 388px;
}

#p1 > div > div {
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(rgba(0, 0, 0, 0.25)),
    to(rgba(0, 0, 0, 0))
  );
  width: 10px;
  height: 388px;
}

#p2 > div {
  position: absolute;
  z-index: 1;
  -webkit-box-shadow: 0 0 11px rgba(0, 0, 0, 0.5);
  background-image: url(https://cssdeck.com/uploads/media/items/4/4FpEEbu.jpg);
  width: 285px;
  height: 388px;
}

#r3 {
  position: absolute;
  -webkit-transform: translate(-1030px, -500px) rotate(-32deg);
  -webkit-transform-origin: 1315px 500px;
  z-index: 2;
  -webkit-transition-duration: 1s;
  -webkit-transition-property: -webkit-transform, -webkit-transform-origin;
}

#s3 {
  position: absolute;
  -webkit-transform: translate(215px, -500px) rotate(-32deg) translate(40px, 0);
  -webkit-transform-origin: 70px 500px;
  z-index: 1;
  -webkit-transition-duration: 1s;
  -webkit-transition-property: -webkit-transform, -webkit-transform-origin;
}

#page-flip:hover #s3 {
  -webkit-transform: translate(-40px, -500px) rotate(0deg) translate(40px, 0);
  -webkit-transform-origin: 325px 500px;
}

#sp3 {
  -webkit-transition-duration: 1s;
  -webkit-transition-property: width;
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(rgba(0, 0, 0, 0.25)),
    to(rgba(0, 0, 0, 0))
  );
  width: 25px;
  height: 1000px;
  overflow: hidden;
}

#page-flip:hover #sp3 {
  width: 11px;
}

.s {
  position: absolute;
  z-index: 3;
  width: 285px;
  height: 388px;
  overflow: hidden;
}

#s2 {
  position: absolute;
  -webkit-transform: translate(240px, -500px) rotate(-32deg);
  -webkit-transform-origin: 45px 500px;
  -webkit-transition-duration: 1s;
  -webkit-transition-property: -webkit-transform, -webkit-transform-origin;
}

#sp2 {
  background: -webkit-gradient(
    linear,
    right top,
    left top,
    from(rgba(0, 0, 0, 0.18)),
    to(rgba(0, 0, 0, 0))
  );
  width: 15px;
  height: 1000px;
  overflow: hidden;
}

#s4 {
  opacity: 1;
  -webkit-transition-duration: 0.5s;
}

#page-flip:hover #s4 {
  opacity: 0;
}

#page-flip:hover #s2 {
  -webkit-transform: translate(-15px, -500px) rotate(0deg);
  -webkit-transform-origin: 300px 500px;
}

#p3 {
  width: 1285px;
  height: 1388px;
  overflow: hidden;
}

#p3 > div {
  -webkit-transform: translate(1255px, 500px) rotate(-32deg);
  -webkit-transform-origin: 0 0;
  -webkit-transition-duration: 1s;
  -webkit-transition-property: -webkit-transform, -webkit-transform-origin;
  -webkit-box-shadow: 0 0 11px rgba(0, 0, 0, 0.5);
  background-image: url(https://cssdeck.com/uploads/media/items/6/6S8oF28.jpg);
  width: 285px;
  height: 388px;
  /* background-image: url('/static/images/sitchenko-infant-drawing-bw.png'); */
  overflow: hidden;
}

#p3 > div > div {
  float: right;
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(rgba(0, 0, 0, 0)),
    to(rgba(0, 0, 0, 0.2))
  );
  width: 9px;
  height: 500px;
}

#page-flip:hover #r1 {
  -webkit-transform: translate(-1285px, -500px) rotate(0deg);
  -webkit-transform-origin: 1570px 500px;
}

#page-flip:hover #p1 > div {
  -webkit-transform: translate(1285px, 500px) rotate(0deg);
  -webkit-transform-origin: 285px 0;
}

#page-flip:hover #r3 {
  -webkit-transform: translate(-1285px, -500px) rotate(0deg);
  -webkit-transform-origin: 1570px 500px;
}

#page-flip:hover #p3 > div {
  -webkit-transform: translate(1000px, 500px) rotate(0deg);
  -webkit-transform-origin: 0 0;
}

a.link {
  display: block;
  position: absolute;
  z-index: 3;
  -webkit-transition-duration: 0.01s;
  -webkit-transition-property: margin;
  margin: -20000px 0 0 0;
  padding: 1px;
}

#rightPageTopLink {
  width: 253px;
  height: 158px;
}

a.link:hover {
  border: 1px dotted #92c7c1;
  padding: 0;
}

#page-flip:hover #rightPageTopLink {
  -webkit-transition-delay: 0.8s;
  margin: 33px 0 0 14px;
}

#rightPageBottomLink {
  width: 253px;
  height: 167px;
}

#page-flip:hover #rightPageBottomLink {
  -webkit-transition-delay: 0.8s;
  margin: 203px 0 0 14px;
}
