.container {
  cursor: url("https://uploads.codesandbox.io/uploads/user/b3e56831-8b98-4fee-b941-0e27f39883ab/Ad1_-cursor.png")
      39 39,
    auto;
  background: lightblue;
}

.deck {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  will-change: transform;
  width: 300px;
  height: 200px;
}

.deck > div {
  will-change: transform;
  box-shadow: 0 12.5px 100px -10px rgba(50, 50, 73, 0.4),
    0 10px 10px -10px rgba(50, 50, 73, 0.3);
  border-radius: 10px;
  background-position: center center;
  background-size: auto 85%;
  background-repeat: no-repeat;
  background-color: white;
  width: 45vh;
  max-width: 300px;
  height: 85vh;
  max-height: 570px;
  touch-action: none;
}
