@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.abs {
  position: absolute;
}
/* a {
  color: white;
  text-decoration: none;
}
a:hover {
  color: lightblue;
} */
/* body {
  bottom: 0;
  font-family: 'Titillium Web', sans-serif;
  color: white;
  left: 0;
  margin: 0;
  position: absolute;
  right: 0;
  top: 0;
  transform-origin: 0px 0px;
  overflow: hidden;
} */
.container {
  position: absolute;
  background-color: #596e73;
  width: 100%;
  max-height: 100%;
}
.input_video {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.input_video.selfie {
  transform: scale(-1, 1);
}
.input_image {
  position: absolute;
}
.canvas-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.output_canvas {
  display: block;
  position: relative;
  top: 0;
  left: 0;
  max-width: 100%;
}
.logo {
  right: 20px;
  bottom: 10px;
}
.logo .title {
  color: white;
  font-size: 28px;
}
.logo .subtitle {
  position: relative;
  top: 20px;
  left: -30px;
  color: white;
  font-size: 10px;
}
.control-panel {
  position: absolute;
  top: 10px;
  left: 10px;
}
.loading {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  opacity: 1;
  backface-visibility: hidden;
  transition: opacity 1s;
}
.loading .message {
  font-size: x-large;
}
.loading .spinner {
  position: absolute;
  animation: spin 1s linear infinite;
  border: 32px solid #bebebe;
  border-top: 32px solid #3498db;
  border-radius: 50%;
  width: 120px;
  height: 120px;
}
.loaded .loading {
  opacity: 0;
}
.shoutout {
  position: absolute;
  right: 0;
  bottom: 40px;
  left: 0;
  font-size: 24px;
  text-align: center;
}
