.main {
  @apply bg-cover bg-no-repeat;
  background-image: url('/images/beams-basic.png');
  height: 100vh;
}
.section {
  @apply prose m-auto p-8;
  max-width: 1280px;

  font-family: Inter var, ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans,
    sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol,
    Noto Color Emoji;

  h1 {
    @apply prose mb-8 mt-8 text-center text-3xl font-semibold;
  }
  h2 {
    @apply prose mb-6 mt-6 text-center text-2xl font-semibold;
  }
  h3 {
    @apply prose mb-4 mt-4 text-center text-xl font-semibold;
  }

  /* p {
    @apply mx-auto max-w-[40rem];
  } */
  p {
    @apply prose text-gray-600 dark:text-white;
  }
}
