.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  /* background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%); */
  background-image: linear-gradient(
    to top,
    #3b41c5 0%,
    #a981bb 49%,
    #ffc8a9 100%
  );
  padding: 6rem;
  width: 100vw;
  max-width: 100vw;

  height: 100vh;
  min-height: 100vh;
  max-height: 100vh;
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  /* background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%); */
  background-image: linear-gradient(
    to top,
    #3b41c5 0%,
    #a981bb 49%,
    #ffc8a9 100%
  );
  padding: 6rem;
  min-height: 100vh;

  /* height: 100vh; */
  /* width: 100vw; */
  /* max-height: 100vh; */
  /* max-width: 100vw; */
}

.description {
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  z-index: 2;
  width: 100%;
  max-width: var(--max-width);
  font-size: 0.85rem;
  font-family: var(--font-mono);
}

.description a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.description p {
  position: relative;
  margin: 0;
  border: 1px solid rgba(var(--callout-border-rgb), 0.3);
  border-radius: var(--border-radius);
  background-color: rgba(var(--callout-rgb), 0.5);
  padding: 1rem;
}

.code {
  font-weight: 700;
  font-family: var(--font-mono);
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(25%, auto));
  width: var(--max-width);
  max-width: 100%;
}

.card {
  transition: background 200ms, border 200ms;
  border: 1px solid rgba(var(--card-border-rgb), 0);
  border-radius: var(--border-radius);
  background: rgba(var(--card-rgb), 0);
  padding: 1rem 1.2rem;
}

.card span {
  display: inline-block;
  transition: transform 200ms;
}

.card h2 {
  margin-bottom: 0.7rem;
  font-weight: 600;
}

.card p {
  opacity: 0.6;
  margin: 0;
  max-width: 30ch;
  font-size: 0.9rem;
  line-height: 1.5;
}

.center {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  container-type: inline-size;
  padding: 4rem 0;
}

.center::before {
  margin-left: -400px;
  border-radius: 50%;
  background: var(--secondary-glow);
  width: 480px;
  height: 360px;
}

.center::after {
  z-index: -1;
  background: var(--primary-glow);
  width: 240px;
  height: 180px;
}

.center::before,
.center::after {
  position: absolute;
  left: 50%;
  transform: translateZ(0);
  filter: blur(45px);
  content: "";
}

.logo,
.thirteen {
  position: relative;
}

.thirteen {
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateZ(0);
  margin-left: 16px;
  box-shadow: 0px 2px 8px -1px #0000001a;
  border-radius: var(--border-radius);
  padding: 25px 10px;
  width: 75px;
  height: 75px;
  overflow: hidden;
}

.thirteen::before,
.thirteen::after {
  position: absolute;
  z-index: -1;
  content: "";
}

/* Conic Gradient Animation */
.thirteen::before {
  animation: 6s rotate linear infinite;
  background: var(--tile-border);
  width: 200%;
  height: 200%;
}

/* Inner Square */
.thirteen::after {
  inset: 0;
  border-radius: var(--border-radius);
  background: linear-gradient(
    to bottom right,
    rgba(var(--tile-start-rgb), 1),
    rgba(var(--tile-end-rgb), 1)
  );
  background-clip: content-box;
  padding: 1px;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  .card:hover {
    border: 1px solid rgba(var(--card-border-rgb), 0.15);
    background: rgba(var(--card-rgb), 0.1);
  }

  .card:hover span {
    transform: translateX(4px);
  }
}

@media (prefers-reduced-motion) {
  .thirteen::before {
    animation: none;
  }

  .card:hover span {
    transform: none;
  }
}

/* Mobile */
@media (max-width: 700px) {
  .content {
    padding: 4rem;
  }

  .grid {
    grid-template-columns: 1fr;
    margin-bottom: 120px;
    max-width: 320px;
    text-align: center;
  }

  .card {
    padding: 1rem 2.5rem;
  }

  .card h2 {
    margin-bottom: 0.5rem;
  }

  .center {
    padding: 8rem 0 6rem;
  }

  .center::before {
    transform: none;
    height: 300px;
  }

  .description {
    font-size: 0.8rem;
  }

  .description a {
    padding: 1rem;
  }

  .description p,
  .description div {
    display: flex;
    position: fixed;
    justify-content: center;
    width: 100%;
  }

  .description p {
    align-items: center;
    backdrop-filter: blur(24px);
    inset: 0 0 auto;
    border: none;
    border-bottom: 1px solid rgba(var(--callout-border-rgb), 0.25);
    border-radius: 0;
    background: linear-gradient(
      to bottom,
      rgba(var(--background-start-rgb), 1),
      rgba(var(--callout-rgb), 0.5)
    );
    background-clip: padding-box;
    padding: 2rem 1rem 1.4rem;
  }

  .description div {
    align-items: flex-end;
    z-index: 1;
    inset: auto 0 0;
    background: linear-gradient(
      to bottom,
      transparent 0%,
      rgb(var(--background-end-rgb)) 40%
    );
    padding: 2rem;
    height: 200px;
    pointer-events: none;
  }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .grid {
    grid-template-columns: repeat(2, 50%);
  }
}

@media (prefers-color-scheme: dark) {
  .main,
  .section {
    /* background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%); */

    /* background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%); */
    background-image: linear-gradient(
      to top,
      #3b41c5 0%,
      #a981bb 49%,
      #ffc8a9 100%
    );

    /* background-image: linear-gradient(to top, #b224ef 0%, #7579ff 100%); */

    /* background-image: radial-gradient( circle 610px at 5.2% 51.6%,  rgba(5,8,114,1) 0%, rgba(7,3,53,1) 97.5% ); */
    /* background-image: linear-gradient( 110.1deg,  rgba(30,2,83,1) 44.2%, rgba(198,55,160,1) 138.2% ); */
  }

  .vercelLogo {
    filter: invert(1);
  }

  .logo,
  .thirteen img {
    filter: invert(1) drop-shadow(0 0 0.3rem #ffffff70);
  }
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
