.main {
  @apply bg-cover bg-no-repeat;
  background-image: url('/images/beams-basic.png');
}
.section {
  @apply m-auto p-8;
  max-width: 1280px;

  font-family: Inter var, ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans,
    sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol,
    Noto Color Emoji;

  h1 {
    @apply mb-8 mt-8 text-center text-3xl font-semibold;
  }
  h2 {
    @apply mb-6 mt-6 text-center text-2xl font-semibold;
  }
  h3 {
    @apply mb-4 mt-4 text-center text-xl font-semibold;
  }

  /* p {
    @apply mx-auto max-w-[40rem];
  } */
  p,
  li {
    @apply text-gray-600 dark:text-white;
  }
}
.heading {
  @apply relative mx-auto max-w-[37.5rem] pb-24 pt-20 text-center;
}

.primaryHeading {
  @apply text-4xl font-extrabold tracking-tight text-slate-900 sm:text-5xl;
}

.lastUpdated {
  @apply mt-4 text-center text-base leading-7 text-slate-600;
  /* @apply text-center text-xl mt-8 mb-8 text-gray-700 dark:text-white; */
}
