.formRoot {
  /* @apply mb-4 border pt-4 pb-4 pl-2 pr-2; */
  /* @apply mb-4 mt-4; */
  @apply mb-4;
}

.formLabel {
  @apply mb-2 block;
  /* @apply mb-2 block text-sm text-gray-600 dark:text-white; */
}

.formInput {
  /* @apply block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 pl-10 text-sm text-gray-900 focus:border-blue-500 focus:ring-blue-500 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder-gray-400 dark:focus:border-blue-500 dark:focus:ring-blue-500; */
  @apply mb-6;
}

.formInput::before {
  display: inline-block;
  margin-right: 5px;
  background-image: url("/images/space.gif");
  width: 2225px;
  height: 2225px;
}
.formInput::after {
  display: inline-block;
  margin-right: 5px;
  background-image: url("/images/space.gif");
  width: 2225px;
  height: 2225px;
}

.formCaptcha {
  /* @apply shadow-xl content-center; */
  @apply ml-8;
}

.formSubmit {
  @apply w-full;
}
