.password-field {
  --c-text: #5a5a64;
  --c-text-light: #a1a1b6;
  --c-text-selection: #09abc3;
  --c-background: #fff;
  --c-background-selection: rgba(9, 171, 195, 0.15);
  --c-border: #e2e2ed;
  --c-border-hover: #d0d0db;
  --c-border-active: #09abc3;
  --c-shadow: rgba(41, 41, 86, 0.06);
  --c-shadow-active: rgba(9, 171, 195, 0.25);
  --eye-background: 0;
  --eye-offset: 3px;
  --eye-wrapper-y: 0;
  --eye-y: 0;
  --eye-x: 0;
  --eye-s: 1;
  width: 220px;
  position: relative;
  border-radius: 7px;
  background: var(--c-background);
  box-shadow: inset 0 0 0 1px var(--border, var(--c-border)),
    0px 1px 3px var(--shadow, var(--c-shadow));
  transition: box-shadow 0.25s;
  &:hover {
    --border: var(--c-border-hover);
    --eye-duration: 0.05s;
  }
  &:focus-within {
    --border: var(--c-border-active);
    --shadow: var(--c-shadow-active);
  }
  input,
  button {
    -webkit-appearance: none;
    outline: none;
    background: none;
    border: none;
    margin: 0;
  }
  input {
    display: block;
    font-family: inherit;
    font-size: 16px;
    line-height: 21px;
    height: 45px;
    color: var(--c-text);
    padding: 12px 41px 12px 16px;
    transform: translateY(var(--y, var(--default-y, 0))) translateZ(0);
    opacity: var(--o, var(--default-o, 1));
    pointer-events: var(--pe, var(--default-pe, auto));
    transition: filter 0.35s, transform 0.4s, opacity 0.25s;
    &::placeholder {
      color: var(--c-text-light);
      transition: color 0.25s;
    }
    &::selection {
      color: var(--c-text-selection);
      background: var(--c-background-selection);
    }
    &:focus,
    &:hover {
      &::placeholder {
        color: var(--c-text);
      }
    }
    &:not(.clear) {
      width: 100%;
    }
    &.clear {
      --y: var(--clear-y, 12px);
      --o: var(--clear-o, 0);
      --pe: var(--clear-pe, none);
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
    }
  }
  button {
    -webkit-tap-highlight-color: transparent;
    cursor: pointer;
    padding: 11px;
    position: absolute;
    z-index: 1;
    right: 0;
    top: 0;
    transform: scale(var(--s, 1));
    color: var(--c-text-light);
    transition: color 0.25s, transform 0.15s;
    &:hover {
      color: var(--c-text);
    }
    &:active {
      --s: 0.95;
    }
    svg {
      display: block;
      width: 23px;
      height: 23px;
      pointer-events: none;
      .top,
      .bottom,
      .lashes {
        fill: none;
        stroke: currentColor;
        stroke-width: 1.5px;
        stroke-linecap: round;
      }
      .lashes {
        stroke-dasharray: 3px;
        stroke-dashoffset: var(--eye-offset);
      }
      .top {
        fill: var(--c-background);
        fill-opacity: var(--eye-background);
      }
      .eye {
        fill: currentColor;
        transform-origin: 10.5px 13.5px;
        transform: translate(var(--eye-x), var(--eye-y)) scale(var(--eye-s))
          translateZ(0);
        transition: transform var(--eye-duration, 0.3s);
      }
    }
  }
  &.show {
    --default-y: -12px;
    --default-o: 0;
    --default-pe: none;
    --clear-y: 0;
    --clear-o: 1;
    --clear-pe: auto;
  }
}

html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

* {
  box-sizing: inherit;
  &:before,
  &:after {
    box-sizing: inherit;
  }
}

// Center & dribbble
body {
  font-family: 'Poppins', Arial;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fbfbfd;
  .dribbble {
    position: fixed;
    display: block;
    right: 20px;
    bottom: 20px;
    img {
      display: block;
      height: 28px;
    }
  }
  .twitter {
    position: fixed;
    display: block;
    right: 64px;
    bottom: 14px;
    svg {
      width: 32px;
      height: 32px;
      fill: #1da1f2;
    }
  }
}
